/* body {
    font-family: "Source-Sans-Pro", sans-serif;
}

.axis {
    font-size: 13px;
}
.axis path,
.axis line {
    fill: none;
    display: none;
}
.label {
    font-size: 13px;
 }

.bar {
    fill: #568203;
}

.organic {
  fill: #cc0
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

.bar:hover {
  fill: orange;
}

.bar:hover label {
  display: inline;
} */
